:root {
   /* COLOR PALETTE */  
--rc-color-n-050: #ffffff;
--rc-color-n-250: #696969;
--rc-color-n-500: #171717;

 /* BACKGROUND COLOR */
--rc-color-background: var(--rc-color-n-050);

/* TYPOGRAPHY COLOR */
--rc-color-typography-heading: var(--rc-color-n-500);
--rc-color-typography-price-links: var(--rc-color-n-250);
--rc-color-typography-images: var(--rc-color-n-050);

/* TYPOGRAPHY */
--rc-typography-typeface: "Open Sans";

/* FONT SIZE */
--rc-typography-h1: 1.5rem;
--rc-typography-main-image: 1.1rem;
--rc-typography-h3: 1rem;
--rc-typography-p-links: 0.5rem;

/* LEADING */

--rc-typography-h1-h3-leading: 1.5;
--rc-typography-p-leading : 1.8;

 /* GAP */
 --rc-gap: .5rem;

 /* PADDING */
 --rc-section-padding: 1.5rem 0;
 --rc-btn-padding: 1.5rem 2rem;


/* IMAGES SIZE */
--rc-image-height: 18rem; 

}

/* GLOBAL STYLES */

html {
    box-sizing: border-box;
  }

*,
*:before,
*:after { box-sizing: inherit; }

body {
   background-color: var(--rc-color-background);
   color: var(--rc-color-typography-heading);
   font-family: var(--rc-typography-typeface);
   font-size: var(--rc-typography-h3);
   font-weight: 400;
   margin: 0 auto;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   line-height: 1.2;
   height: 100%;
   overflow-y: scroll;
 }


 /* TYPOGRAPHY */

 a {
   color: var(--rc-color-typography-price-links);
   font-size: var(--rc-typography-p-links) ;
   text-decoration: none;
 }
 
 h1,
 h3,
 p,
 span,
 ul { margin-top: 0; }
 
 h1 {
   color: var(--rc-color-typography-heading);
   line-height: var(--rc-typography-h1-h3-leading);
 }
 
 h3 {
   font-size: var(--rc-typography-h3);
   line-height: var(--rc-typography-h1-h3-leading);
 }
 
 p,
 span,
 ul {
   font-size: var(--rc-typography-p);
   line-height: var(--rc-typography-p-leading);
 }

 
/* LAYOUT */

.rc-layout-container {
   padding-left: var(--rc-gap);
   padding-right: var(--rc-gap);
 }
 
 .rc-layout-flex {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .rc-layout-grid {
  display: grid;
  grid-column-gap: var(--rc-gap);
}

/* COMPONENTS */
 
 .rc-component-button-primary {
   background-color: var(--rc-color-background);
   border-radius: .19rem;
   border: .06rem solid var(--rc-color-typography-images);
   color: var(--rc-color-typography-price-links);
   font-size: var(--rc-typography-p-links);
   line-height: 1.2;
   padding: .5rem;
   text-align: center;
   text-decoration: none;
 }
 
 .rc-component-button-secondary {
   background-color: var(--rc-color-typography-heading);
   color: var(--rc-color-typography-images);
   border: .06rem solid var(--rc-color-typography-heading);
   border-radius: .19rem;
   font-size: var(--rc-typography-p-links);
   line-height: 1.2;
   padding: .5rem;
   text-align: center;
   text-decoration: none;
 }

.rc-section-header {
   display: flex;
   padding-bottom: .7rem;
   padding-top: .7rem;
  justify-content: space-around;
   margin-left: 0%;
   position: relative;
 }

 .rc-layout-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0%;

 }

 .rc-section-header--left {
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 .rc-section-header--left-container {
  display: flex;
  justify-content: flex-start;
}

.rc-burger-label,
.rc-burger {
  display: none;
}

.rc-burger-label {
  display: inline-block;
  color: var(--rc-color-typography-heading);
}

.rc-section-header--nav {
  display: none;
}

.rc-burger:checked ~ .rc-section-header--nav {
  display: block;
  padding: var(--rc-section-padding);
}

.rc-section-header--nav {
  flex-direction: column;
}

.rc-section-header--search {
}

 .rc-section-header--logo-container {
  display:block
 }

 .rc-section-header--right {
   display: flex;
   align-items: center;
 }

 .rc-section-header--right-container {
  display: flex;
  justify-content: flex-end;
}


.rc-section-header--nav {
      background-color: var(--rc-color-background);
      gap: var(--rc-gap);
      opacity: 0;
      padding: .1rem;
      position: absolute;    
      text-align: left;
      /* transition: all 250ms cubic-bezier(.800, .130, .15, .80); */
      visibility: hidden;
    }
    
    #rc-section-header--menu-id :checked ~
    .rc-section-header--nav {
      opacity: 1;
      visibility: visible;
    }
    
    .rc-section-header--nav-link {
      font-size: var(--rc-typography-p);
      padding: .5rem;
      text-decoration: none;
      flex-direction: column;
      justify-content: space-around;
    }
    
    /* @media screen and (min-width: 768px) {
    
      :root {
        
      }
    }
 }
  */

.rc-section-banner {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.rc-section-banner--button-container {
  position: absolute;
  display: block;
  top: 40%;
  left: 20%;
  bottom: 40%;
  color: var(--rc-color-typography-images);
  font-size: var(--rc-typography-p-links);
}

#rc-section-banner--text {
  font-size: var(--rc-typography-main-image);
}


.rc-section-shopify-container {
  flex-direction: column;
  margin-bottom: 5rem;
}

.rc-section-shopify-motto {
  display: flex;
  text-align: center;
  font-size: var(--rc-color-typography-images);
  margin: 5rem 1rem 2rem 2rem;
  font-weight: 600;
}


.rc-section-shopify-collections-men ,
.rc-section-shopify-collections-women {
  font-size: var(--rc-typography-main-image);
  color: var(--rc-color-typography-heading);
  text-decoration: underline;
}

.rc-section-featured {
  flex-direction: column;
}

.rc-section-featured-text {
  font-weight: 600;
}
  
.rc-section-featured-gallery {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  width: 90vw;
  margin-top: 3rem;
  padding: 1rem;
}

.rc-section-featured-product {
  flex-direction: column;
  justify-content: flex-start;
}

.rc-section-featured--preview {
  width: auto;
  height: var(--rc-image-height);
}

.rc-section-featured-product-text,
.rc-section-featured-price {
  font-size: var(--rc-typography-p-links);
}

.rc-section-newsletter {
justify-content: flex-start;
margin-left: 3rem;
margin-top: 4rem;
}

.rc-section-newsletter-text {
font-weight: 600;

}

.rc-section-newsleter-text-bold {
font-size: var(rc-typography-main-image);
}