:root {
   /* COLOR PALETTE */  
--rc-color-n-050: #ffffff;
--rc-color-n-250: #696969;
--rc-color-n-500: #171717;

 /* BACKGROUND COLOR */
--rc-color-background: var(--rc-color-n-050);

/* TYPOGRAPHY COLOR */
--rc-color-typography-heading: var(--rc-color-n-500);
--rc-color-typography-images: var(--rc-color-n-050);
--rc-color-typography-price-links: var(--rc-color-n-250);

/* TYPOGRAPHY */
--rc-typography-typeface: "Open Sans";

/* FONT SIZE */
--rc-typography-h1: 1.5rem;
--rc-typography-h3: .8rem;
--rc-typography-main-image: 1.1rem;
--rc-typography-p-links: 0.5rem;

/* LEADING */

--rc-typography-h1-h3-leading: 1.5;
--rc-typography-p-leading : 1.8;

 /* GAP */
 --rc-gap: 1rem;

 /* PADDING */
 --rc-btn-padding: 1.5rem 2rem;
 --rc-section-padding: 1.5rem 0;


/* IMAGES SIZE */
--rc-image-height: 18rem; 

}

/* GLOBAL STYLES */

html {
    box-sizing: border-box;
  }

*,
*:before,
*:after { box-sizing: inherit; }

body {
   -webkit-font-smoothing: antialiased;
   background-color: var(--rc-color-background);
   color: var(--rc-color-typography-heading);
   font-family: var(--rc-typography-typeface);
   font-size: var(--rc-typography-h3);
   font-weight: 400;
   height: 100%;
   width: 100%;
   line-height: 1.2;
   margin: 0 auto;
   overflow-y: scroll;
   text-rendering: optimizeLegibility;
 }


 /* TYPOGRAPHY */

 a {
   color: var(--rc-color-typography-price-links);
   font-size: var(--rc-typography-p-links) ;
   text-decoration: none;
 }
 
 h1,
 h3,
 p,
 span,
 ul { margin: 0; }
 
 h1 {
   color: var(--rc-color-typography-heading);
   line-height: var(--rc-typography-h1-h3-leading);
 }
 
 h3 {
   font-size: var(--rc-typography-h3);
   line-height: var(--rc-typography-h1-h3-leading);
 }
 
 p,
 span,
 ul {
   font-size: var(--rc-typography-p);
   line-height: var(--rc-typography-p-leading);
 }

 
/* LAYOUT */
 
 .rc-layout-flex {
   align-items: center;
   display: flex;
   justify-content: center;
 }
 
 .rc-layout-grid {
  display: grid;
  grid-column-gap: var(--rc-gap);
}

/* COMPONENTS */
 
 .rc-component-button-primary {
   background-color: var(--rc-color-background);
   border-radius: .19rem;
   border: .06rem solid var(--rc-color-typography-images);
   color: var(--rc-color-typography-price-links);
   font-size: var(--rc-typography-p-links);
   line-height: 1.2;
   padding: .5rem;
   text-align: center;
   text-decoration: none;
 }
 
 .rc-component-button-secondary {
   background-color: var(--rc-color-typography-heading);
   border-radius: .19rem;
   border: .06rem solid var(--rc-color-typography-heading);
   color: var(--rc-color-typography-images);
   font-size: var(--rc-typography-p-links);
   line-height: 1.2;
   margin-top: var(--rc-gap);
   padding: .5rem .7rem;
   text-align: center;
   text-decoration: none;
  
 }

.rc-section-header {
   padding-bottom: .7rem;
   padding-top: .7rem;
 }

 .rc-layout-container {
  display: flex;
  justify-content: space-between;
  margin-left: var(--rc-gap);
  margin-right: var(--rc-gap);
  width: 100%;
 }
 
 .rc-section-header__layout {
  justify-content: space-between;
  width: 100%;
 }

 .rc-section-header--left {
   align-items: center;
   display: flex;
   justify-content: space-around;
 }

.rc-burger-label,
.rc-burger {
  display: none;
}

.rc-burger-label {
  color: var(--rc-color-typography-heading);
  display: inline-block;
}

/* .rc-section-header--nav {
  display: none;
} 

.rc-burger:checked ~ .rc-section-header--nav {
  display: block;
  padding: var(--rc-section-padding);
} */

.rc-section-header--nav {
  flex-direction: column;
}



 .rc-section-header--logo-container {
  display:block
 }

 .rc-section-header--right {
   align-items: center;
   display: flex;
 }

 .rc-section-header--right-container {
  display: flex;
  justify-content: flex-end;
}


 .rc-section-header--nav {
      background-color: var(--rc-color-background);
      gap: var(--rc-gap);
      opacity: 0;
      padding: .1rem;
      position: absolute;    
      text-align: left;
      transition: all 250ms cubic-bezier(.800, .130, .15, .80); 
      visibility: hidden;
    } 
    
    /* #rc-section-header--menu-id :checked ~
    .rc-section-header--nav {
      opacity: 1;
      visibility: visible;
    }
    
    .rc-section-header--nav-link {
      font-size: var(--rc-typography-p);
      padding: .5rem;
      text-decoration: none;
      flex-direction: column;
      justify-content: space-around;
    } */
    
    /* @media screen and (min-width: 768px) {
    
      :root {
        
      }
    }
 }
  */

.rc-section-banner {
  display: inline-block;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  text-align: center;

}

.rc-section-banner--button-container {
  bottom: 40%;
  color: var(--rc-color-typography-images);
  display: block;
  font-size: var(--rc-typography-p-links);
  left: 20%;
  position: absolute;
  top: 40%;
}

#rc-section-banner--text {
  font-size: var(--rc-typography-main-image);
}


.rc-section-shopify-container {
  flex-direction: column;
  margin-bottom: 5rem;
}

.rc-section-shopify-motto {
  display: flex;
  font-size: var(--rc-typography-main-image);
  font-weight: 600;
  margin: 5rem 1rem 2rem 2rem;
  text-align: center;
}


.rc-section-shopify-collections-men ,
.rc-section-shopify-collections-women {
  color: var(--rc-color-typography-heading);
  font-size: var(--rc-typography-main-image);
  text-decoration: underline;
}

.rc-section-featured {
  flex-direction: column;
}

.rc-section-featured-text {
  font-weight: 600;
  font-size: var(--rc-typography-main-image);
}
  
.rc-section-featured-gallery {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  margin-top: 3rem;
  padding: 1rem;
  width: 90vw;
  gap: 1rem;
}

.rc-section-featured-product {
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 1rem;
}

.rc-section-featured--preview {
  height: var(--rc-image-height);
  width: auto;
}

.rc-section-featured-product-text,
.rc-section-featured-price {
  font-size: var(--rc-typography-p-links);
}

.rc-section-footer {
flex-direction: column;
justify-content: flex-start;
margin-left: 3rem;
margin-top: 4rem;
margin-right: 3rem;
}

.rc-section-footer-media-newsletter-text {
font-weight: 600;

}

.rc-section-footer-media-newsleter-text-bold {
font-size: var(rc-typography-main-image);
}

.rc-section-footer-media-newsletter-text-subscribe {
  font-size: var(--rc-typography-h3);
  font-weight: 300;
}

.rc-section-footer-media-newsletter-input {
  margin-top: 2rem;
}

.rc-section-footer-media-social-links-list {
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

.rc-section-footer-media-social-text {
  margin-top: 2rem;
}

.rc-section-footer-media-social-links {
  margin-top: .2rem;
}

@media screen and (min-width: 769px) {

  .rc-section-header__layout {
    margin-right: 1.5rem;
  }

  .rc-section-banner {
    width: 100%;
  }

  .rc-section-banner--button-container {
    font-size: var(--rc-typography-h3) ;
    left: 0%;
    width: 100%;
  }

  #rc-section-banner-img {
    width: 100%;
  }

  .rc-section-featured-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 3rem;
    padding: 1rem;
  }

  .rc-component-button-primary,
  .rc-component-button-secondary {
    font-size: var(--rc-typography-h3);
  }

  .rc-section-featured-product-text,
  .rc-section-featured-price {
    font-size: var(--rc-typography-h3);
  }

  .rc-section-banner--text {
    font-size: 12rem;
  }

  .rc-section-footer {
    font-size: var(--rc-typography-h3)
  }

  p {font-size: larger;}
}

@media screen and (min-width: 376px) and (max-width: 768px) {

  .rc-section-header__layout {
    margin-right: 1.5rem;
  }

  .rc-section-banner {
    width: 100%;
  } 

  #rc-section-banner-img {
  width: 100%;
  }

  .rc-section-banner--button-container {
    font-size: var(--rc-typography-h3) ;
    left: 0%;
    width: 100%;
  }

  .rc-section-featured-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 3rem;
    padding: 1rem;
  }

  .rc-component-button-primary,
  .rc-component-button-secondary {
    font-size: var(--rc-typography-h3);
  }

  .rc-section-featured-product-text,
  .rc-section-featured-price {
    font-size: var(--rc-typography-h3);
  }
}